body {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #f9f9f9;
}

main {
    display: flex;
    flex-direction: row;
    flex: auto;
    gap: 10px; 
}

main article {
    flex: 2;
    overflow-y: auto;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

main aside {
    flex: 1;
    overflow-y: auto;
    background-color: #f1f1f1;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 10px 0;
}

header ul li {
    font-size: 1.2rem;
}


footer {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 10px 0;
}

